<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        /* Style for the footer */
        footer {
            position: fixed;
            bottom: 0;
            width: 100vw;
            background-color: white; /* Choose your desired background color */
            padding: 20px 0; /* Add padding as needed */
        }

        /* Adjust body padding to prevent content from being hidden behind the fixed footer */
        body {
            padding-bottom: 30px; /* Adjust this value to match your footer's height */
        }

        span {
            font-weight: bold;
        }
    </style>
</head>

@{
    ViewData["x"] = Session["userTypeLogged"];
}

<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-warning">
        <div class="container">
            @Html.ActionLink("Saint Michel Technology Institution", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-dark" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (Session["userTypeLogged"] != null)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-dark" })</li>
                        <li>@Html.ActionLink("Projects", "Index", "Projects", new { area = "" }, new { @class = "nav-link text-dark" })</li>

                        if (Session["userTypeLogged"] != null && Session["userTypeLogged"].ToString() == "Teacher")
                        {
                            <li>@Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "nav-link text-dark" })</li>
                            <li>@Html.ActionLink("Assign Projects", "Index", "ProjectAssignments", new { area = "" }, new { @class = "nav-link text-dark" })</li>
                        }
                    }
                </ul>
                <ul class="navbar-nav flex-grow-2">
                    <li>@Html.ActionLink("Logout", "Logout", "Accounts", new { area = "" }, new { @class = "nav-link text-dark" })</li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr style="width: 65%;">
            <p><span>Developer:</span> Ayrton Senna Seraphim do Amaral &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
